/* Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
    @apply antialiased h-screen bg-light-background dark:bg-dark-background transform transition duration-300
}

.shadow{
    transition: 300ms;
}
.shadow:hover{
    transition: 300ms ease-in-out;
    -webkit-box-shadow: 0px 0px 50px 10px rgba(30,215,96,1);
    -moz-box-shadow: 0px 0px 50px 10px rgba(30,215,96,1);
    box-shadow: 0px 0px 50px 10px rgba(30,215,96,1);
}